<!--
   功能：计算属性写姓名案例
-->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>demo</title>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="fname"><br/>
        名：<input type="text" v-model="lname"><br/>
        全名：<span>{{fullname}}</span>
    </div>

 <script type="text/javascript">
    
    new Vue({
        el:'#root',
        data:{
            fname:'王',
            lname:'旭',
        },
        computed:{
            fullname:{
                //get的作用就是，当有人读取fullname时，get就会被调用，且返回值作为fullname的值
                //get什么时候被调用，1.当初次读取fullname时，2.所依赖的数据发生变化时
                get(){
                    console.log(this) //此处的this是vm
                    return this.fname +'-'+this.lname
                },
                //当fullname被修改时，调用set
                set(value){
                    const arr=value.split('-')
                    this.fname = arr[0]
                    this.lname = arr[1]

                }
            }
        }

    })
</script>
</body>
</html>